* {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: lavender;
}

.calculator {
    background-color: white;
    border-radius: 5%;
    padding : 16px 8px;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.5);
}

.display {
    text-align: right;
    font-size: 32px;
    margin-top: 8px;
    margin-bottom : 8px;
}

.memory {
    height : 16px;
    color : rgb(173, 173, 173);
}

button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border : none;
    font-size: 24px;
    transition: filter 0.2s ease; 
}

.top-btn {
    background-color: lavender;
    font-size: 18px;
}

.operator, .equals {
    background-color: lightpink;
}

button:hover {
    filter: brightness(0.8);
}

.row {
    margin-bottom: 8px;
}

